{% extends "base.html" %}
{% block content %}
<a href="/" id="link">Hjemside</a>
<div class="div-admin-info">
Admin side <br>

Ditt brukernavn er : {{username}} <br>
Din id: {{user_id}}</div>
<div class="div-admin-container">
<form action="{{ url_for('upload_form', user_id = user_id)}}">
    <input type="submit" value="Legg til " class="edit-button">
</form>
<form action="{{ url_for('edit_meal', user_id = user_id)}}">
    <input type="submit" value="Endre rett " class="edit-button">
</form>

</div>




{% endblock %}